.offers {
    display: flex;
    justify-content: center;
}

.offers-right {
    width: 82%; 
    margin: 30px auto;
}

.offers-image {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    margin-bottom: 80px;
        margin-top: 30px;
}

@media (max-width: 1280px) {
    .offers-right {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 800px) {
    .offers-right {
        width: 95%;
    }
}
