.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
     background: #222222;
     color: #ffffff;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo a{
    text-decoration: none;
}
.nav-logo p{
    color: #f6f1f1;
    font-size: 20px;
    font-weight: 590;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    color: #ffffff;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: 30px;
    border-radius: 11px;
    font-size: 14px;
    background: rgb(213, 27, 27);
    color: white;
    columns: white  ;
}
.nav-dropdown{
    display: none;
}
.nav-dropdown img{
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
body.nav-menu-visible {
    padding-top: 100px; 
  }
  
.navbar.menu-visible {
    flex-direction: column;
    align-items: center;
}
.navbar.menu-visible .nav-logo {
    margin-bottom: 10px;
    align-items: center;
}
  
.navbar.menu-visible .nav-menu {
    height: auto;
    top: 0;
}  
.navbar.menu-visible .nav-menu li {
    margin-bottom: 5px;
}

@media(max-width: 1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 60px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;

    }
}

@media(max-width: 1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-logo img{
        width: 50px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
@media (max-width: 800px) {
    .navbar {
        padding: 10px 0;
        position: relative;
    }
    .nav-dropdown {
        display: block;
        width: 30px;
        rotate: 180deg;
        transition: 0.5s;
    }
    .nav-menu {
        display: none;
        position: fixed;
        top: 50px; 
        left: 0;
        width: 100%;
        color: rgb(255, 255, 255);
        background: #201e1e;
        padding: 20px; 
        margin-top: 10px; 
        flex-direction: column;
        text-align: center; 
    }
    .nav-menu-visible {
         display: flex;
    }
    .nav-menu li {
        margin-right: 20px; 
        cursor: pointer;
        text-transform: uppercase;
    }
    .nav-menu hr {
        display: none;
    }
    .nav-dropdown img.open {
        transform: rotate(180deg);
    }
  }
  
  
@media (max-width: 500px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }
    .nav-logo {
        margin-bottom: 10px;
        align-items: center;
    }
    .nav-logo p{
        display: none;
    }
    .nav-menu {
        height: auto;
        top: 0;
        margin-left: auto;
    }
    .nav-menu li {
         margin-bottom: 5px;
    }
    .nav-dropdown{
            align-items: center;
    }
  }