.hero {
    display: flex;
    justify-content: center;
}

.hero-right {
    width: 82%; 
    margin: 30px auto;
}

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

@media (max-width: 1280px) {
    .hero-right {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 800px) {
    .hero-right {
        width: 95%;
        margin-bottom: 80px;
        margin-top: 30px;
    }
}

