.list-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 740px;
    padding: 10px 50px;
    margin: 30px;
    margin-top: 10vh;
    margin-bottom: 20vh;
    border-radius: 6px;
    background: white;

}
.listproduct-format-main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 16px;
    font-weight: 600;
}
.listprod{
    align-items: center;
    font-weight: 500;
}
.listprod-icon{
    height: 90px;
}
.listprod-removeicon{
    cursor: pointer;
    margin: auto;
}
.listproduct-allproducts{
    overflow-y: auto;
}
.update-btn{
    background: #d15bff;
    font-size: 16px;
    font-weight: 550;
    font-family: 'poppins';
    border: 1px solid #d6d5d5;
    border-radius: 10px;

}
@media(max-width: 800px){
    .list-product{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
    }
    .listproduct-format-main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listprod-icon{
        height: 80px;       
    }
}